@font-face {
  font-family: 'Merriweather';
  src: url('/assets/fonts/Merriweather-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
