$color_font-light: #efefef;
$color_font-medium: #888;
$color_font-dark: #444;

$color_bg-light: #fdfdfe;
$color_bg-medium: #aeaeae;

$font_family-primary: 'Merriweather', Times, serif;
$font_family-secondary: 'Montserrat', Arial, sans-serif;
