@import '../modules/parties';

.component.election-map {

  svg { 
    width: 100%; 
    overflow: visible;
  }

  path {
    $trans: opacity .15s;

    stroke: $color_bg-light; 
    stroke-width: 1px;

    fill: $color_bg-medium;

    cursor: pointer;
    opacity: .80;
    transition: $trans;

    &:hover {
      opacity: 1;
      transition: $trans;
    }

    &.republican { fill: $republican; }
    &.democratic { fill: $democratic; }
  }
  
}
