@import '../modules/parties';

.component.election-map {

  svg { 
    width: 100%; 
    overflow: visible;
  }

  path {
    $trans: opacity .15s;

    stroke: $color_bg-light; 
    stroke-width: 1px;

    fill: $color_bg-medium;

    cursor: pointer;
    opacity: .80;
    transition: $trans;

    &:hover {
      opacity: 1;
      transition: $trans;
    }

    &.republican { fill: $republican; }
    &.democratic { fill: $democratic; }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;

    width: 100%;
    height: 100%;

    text-align: center;

    background: rgba($color_bg-light, .5);

    h2 {
      @extend ._vertical-center; 

      margin: 0 auto;
    }

    &.noData { display: block; }
  }
}
