<div class="route results_by-year">
  <h1>Presedential Election Results</h1>

  <section class="results-window">
    <div class="results-panel">
    </div>

    <div class="results-panel">
    </div>
  </section>
</div>
