.route.results_by-year {

  h1 {
    font-size: 36px;
    font-weight: 400;  
  }

  .results-window { display: flex; }

  .results-panel {  
    &:first-of-type {
      flex: 1 1 15%;
    }

    &:nth-of-type(2) { 
      flex: 1 1 85%;
      width: 85%; 
    }
  }

  nav {
    ul {
      a {
        $trans: opacity .15s, border-width .15s;
        $border_width: 5px;

        display: inline-block; 

        padding: 6px 16px;

        border-left: 1px solid $color_bg-medium;

        opacity: .4;
        transition: $trans;

        &:hover {
          border-width: $border_width;

          opacity: .7; 
          transition: $trans;
        }

        &.active {
          border-width: $border_width; 

          opacity: 1;
          transition: $trans;
        }
      }
    } 
  }
}
